.lumin-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer; /* Mostra que é interativo */
    transition: transform 0.2s ease-in-out;
}

.lumin-card img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
